
.icon-valvula:before { content: '\e800'; } /* '' */
.icon-bomba:before { content: '\e801'; } /* '' */
.icon-emisor:before { content: '\e802'; } /* '' */
.icon-nodo:before { content: '\e803'; } /* '' */
.icon-reservorio:before { content: '\e804'; } /* '' */
.icon-tanque:before { content: '\e805'; } /* '' */
