<div id="artifact{{ requirement.id }}" class="list-group-item list-group-item-action artifact">
    <small class="key requirement">{{ prefix }}{{ requirement.key|stringformat:"02d" }}</small>
    <small class="date">{{ requirement.date|date:"F j, Y h:i A" }}</small>
    <div class="d-flex align-items-center">
        <div class="number">{{ forloop.counter }}</div>
        <div class="d-flex flex-column flex-grow-1 strikable" style="position: relative;">
            <div class="d-flex flex-row align-items-center extra" data-id="{{ forloop.counter }}">
                <h5>{{ requirement.name }}</h5>
                &nbsp;<i id="chevron_{{ forloop.counter }}" class="fas fa-chevron-down"></i>
            </div>
            <table id="hidden_block_{{ forloop.counter }}" class="table table-bordered flex-grow-1 hidden_content">
                <tbody>
                    <tr>
                        <th>Description</th>
                        <td>{{ requirement.description }}</td>
                    </tr>
                    <tr>
                        <th>Preconditions</th>
                        <td>{{ requirement.precondition }}</td>
                    </tr>
                    <tr>
                        <th>Sequence</th>
                        <td>
                            <table class="table table-sm table-borderless" style="margin: 0">
                                <tbody>
                                    {% for step in requirement.sequence %}
                                        <tr>
                                            <td><strong>{{ forloop.counter }}</strong>. {{ step }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>Alternative sequences</th>
                        <td>
                            <table class="table table-sm table-borderless" style="margin: 0">
                                <tbody>
                                    {% for key, list in requirement.alt_sequence.items %}
                                        <th>Alternative sequence {{ key }}</th>
                                        {% for step in list %}
                                            <tr>
                                                <td><strong>{{ key }}.{{ forloop.counter }}</strong>. {{ step }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>Postconditions</th>
                        <td>{{ requirement.postcondition }}</td>
                    </tr>
                    <tr>
                        <th>Notes</th>
                        <td>{{ requirement.notes }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="icons">
        {% if requirement.document %}
            <a href="{{ requirement.document }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        {% endif %}
        {% if requirement.archived %}
            <a href="javascript:void(0)" class="archive" data-id="{{ requirement.id }}" data-archive="false"><i class="fas fa-upload"></i></a>
        {% else %}
            <a title="Changes" href="{% url 'requirement_changes' artifact_id=requirement.id %}"><i class="fas fa-history"></i></a>
            <a title="Traceability" href="{% url 'links' artifact_id=requirement.id %}"><i class="fa-solid fa-link"></i></a>
            <a href="{% url 'edit_requirement' id=requirement.id %}"><i class="fas fa-edit"></i></a>
            <a href="javascript:void(0)" class="archive" data-id="{{ requirement.id }}" data-archive="true"><i class="fas fa-trash"></i></a>
            <a href="{% url 'add_design_with_req' req_id=requirement.id%}"><i class="fas fa-plus-circle" title="New linked requirement"></i></a>
        {% endif %}
    </div>
</div>
