{% load filters %}

<div id="artifact{{ test.id }}" class="list-group-item list-group-item-action artifact strikable" data-id="{{ forloop.counter }}">
    <small class="key test">{{ prefix }}{{ test.key|stringformat:"02d" }}</small>
    <small class="date">{{ test.date|date:"F j, Y h:i A" }}</small>
    <div class="d-flex align-items-center">
        <div class="number">{{ forloop.counter }}</div>
        <div class="d-flex flex-column" style="position: relative;">
            <div class="d-flex flex-row align-items-center extra" data-id="{{ forloop.counter }}">
                <h5>{{ test.name }}</h5>
                &nbsp;<i id="chevron_{{ forloop.counter }}" class="fas fa-chevron-down"></i>
            </div>
            <div id="hidden_block_{{ forloop.counter }}" class="hidden_content">
                <div><strong>Objective: </strong><span class="text">{{ test.objective }}</span></div>
                <div><strong>Description: </strong><span class="text">{{ test.description }}</span></div>
                <div><strong>Data: </strong><span class="text">{{ test.data }}</span></div>
                <div><strong>Notes: </strong><span class="text">{{ test.notes }}</span></div>
            </div>
            <div class="d-flex flex-column div-boton" style="position: relative">
            {% if test.application_date %}
{#                                <small class="application-date">{{ test.application_date }}</small>#}
            {% endif %}
            </div>
            <div class="d-flex flex-row align-items-center extra tapp" data-id="tapp_{{ forloop.counter }}">
                <h6>Test applications: <span id="number_of_ta{{ test.id }}">{{ test.test_applications.all|length }}</span> <span id="current_verdict{{ test.id }}"><b title="{{ test.application_date }}" class="verdict_title {{ test.verdict }}" >{{ test.verdict|capfirst }}</b></span></h6>
                {% if test.test_applications.all|length %}
                    &nbsp;<i id="chevron_tapp_{{ forloop.counter }}" class="fas fa-chevron-down"></i>
                {% endif %}
            </div>
            <div id="hidden_block_tapp_{{ forloop.counter }}" class="hidden_content">
                <div class="d-flex flex-column">
                    {% for test_application in test.test_applications.all|sort_test_applications%}
                        <div id="tapp_{{ test_application.id }}" class="extra test_application {{ test_application.verdict }}" data-id="ta_{{ test_application.id }}">
                            {{ test_application.application_date }}:&nbsp;<b><span class="verdict">{{ test_application.verdict|capfirst }}</span></b>
                            &nbsp;<i id="chevron_ta_{{ test_application.id }}" class="fas fa-chevron-down" style="font-size: 0.8em"></i>
                            <a href="javascript:void(0)" data-id="{{ test_application.id }}" data-testid="{{ test.id }}" data-url="/test_applications/delete/" class="delete_testapp"><i class="fas fa-times"></i></a>
                        </div>
                        <div id="hidden_block_ta_{{ test_application.id }}" class="hidden_content application_hidden {{ test_application.verdict }}">
                            <div><strong>Data: </strong><span class="text">{{ test_application.data }}</span></div>
                            <div><strong>Notes: </strong><span class="text">{{ test_application.notes }}</span></div>
                            {% if test_application.document %}
                                <a href="{{ test_application.document }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="icons">
            {% if test.document %}
                <a href="{{ test.document }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            {% endif %}
            {% if test.archived %}
                <a href="javascript:void(0)" class="archive" data-id="{{ test.id }}" data-archive="false"><i class="fas fa-upload"></i></a>
            {% else %}
                <a title="Traceability" href="{% url 'links' artifact_id=test.id %}"><i class="fa-solid fa-link"></i></a>
                <a href="{% url 'add_test_application' test_id=test.id %}"><i class="fas fa-plus-circle" title="New test application"></i></a>
                <a href="{% url 'edit_test' id=test.id %}"><i class="fas fa-edit"></i></a>
                <a href="javascript:void(0)" class="archive" data-id="{{ test.id }}" data-archive="true"><i class="fas fa-trash"></i></a>
            {% endif %}
        </div>
    </div>
</div>