{% extends "base.html" %}

{% load static %}
{% load tz %}
{% load filters %}

{% block title %}
  Tracequal - Add requirement
{% endblock title %}

{% block links %}
    <script src="{% static 'js/add_requirement.js' %}"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'requirements.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock links %}

{% block content %}

    <div id="responsive-container" class="list-group container artifacts_container">
        <div class="tq-backbar">
            <div class="row align-items-center">
                <div class="col-1 tq-back"><a href="{% url 'requirements'%}"><i class="fas fa-arrow-left fa-lg fa-inverse"></i></a></div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div>
                <img src="{% static 'icons/icon-requirements.png' %}" alt="Custom Icon" class="icon img-fit"/>
            </div>
            <div class="ml-3">
                <h1>New requirement</h1>
            </div>
        </div>
        <form id="form" method="post" class="form container">
            {% csrf_token %}
            <label for="user_story">Select the relevant user stories:</label>
            <select class="form-select" id="user_story" name="user_story" multiple>
                {% for user_story in user_stories %}
                    <option value="{{ user_story.id }}"
                    {% if user_story.id == us_id %}selected{% endif %}>
                        {{ prefix }}{{ user_story.key|stringformat:"02d" }} - {{ user_story.name }}
                    </option>
                {% endfor %}
            </select>
            {{ form.project }}
            {{ form.type }}
            {{ form.key.label_tag }}
            {{ form.key }}
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.preconditions.label_tag }}
            {{ form.preconditions }}
            {{ form.sequence.label_tag }}
            <div id="sequence">
                <div id="step1" data-id="0">
                    <div class="d-flex">
                        <span class="step_number">1</span>
                        {{ form.sequence }}
                        <button type="button" class="btn btn-accent ml-3 sequence add_step" data-id="1" data-toggle="tooltip" title="Add a step">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-warning ml-3 sequence add_alternative_step" data-id="1" data-toggle="tooltip" title="Add an alternative step">
                             <i class="fas fa-step-forward"></i>
                        </button>
                    </div>
                </div>
            </div>
            {{ form.postcondition.label_tag }}
            {{ form.postcondition }}
            {{ form.notes.label_tag }}
            {{ form.notes }}
            {{ form.document.label_tag }}
            {{ form.document }}
            <br>
            <div id="buttons">
                <button type="submit" class="btn btn-accent">Save</button>
{#                <button type="button" class="btn btn-secondary" id="add_another">Save and add another</button>#}
            </div>
        </form>
        <div class="custom-alert success">
            <div class="alert alert-success fade show message" role="alert">
                El artefacto se agregó con éxito.
            </div>
        </div>
        <div class="custom-alert failure">
            <div class="alert alert-danger fade show message" role="alert">
                Revisa que todos los campos hayan sido llenados correctamente.
            </div>
        </div>
    </div>

{% endblock content%}
