{% extends "base.html" %}

{% load static %}
{% load tz %}

{% block title %}
  Tracequal - Code artifacts {% if archive %}(archive){% endif %}
{% endblock title %}

{% block links %}
    <script src="{% static 'js/archive_artifact.js' %}"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7ecb0d002.js" crossorigin="anonymous"></script>
{% endblock links %}

{% block content %}
    <div id="responsive-container" class="list-group container artifacts_container  {% if archive %}archive-page{% endif %}">
        {% csrf_token %}
        <div class="tq-backbar">
            <div class="row align-items-center">
                <div class="col-1 tq-back"><a href="{% if archive %}{% url 'code' %} {% else %}{% url 'project' %}{% endif %}"><i class="fas fa-arrow-left fa-lg fa-inverse"></i></a></div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div>
                <img src="{% static 'icons/icon-code.png' %}" alt="Custom Icon" class="icon img-fit"/>
            </div>
            <div class="ml-3">
                <h1>Code artifacts {% if archive %}(archive){% endif %}</h1>
            </div>
            {% if not archive and role == "admin" or role == "superadmin" %}
                <a href="{% url 'archive_code' %}" class="archive-goto"><i class="fas fa-archive"></i></a>
            {% endif %}
        </div>
        {% if code_artifacts %}
            {% for code_artifact in code_artifacts %}
                {% include 'artifacts/code.html' %}
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                There are no code artifacts.
            </div>
        {% endif %}
        {% if not archive %}
            <a href="{% url 'add_code' %}"><div class="add"><i class="fas fa-plus"></i></div></a>
        {% endif %}
    </div>

    <div id="confirmation_dialog" class="confirmation-dialog custom-alert info">
        <div class="alert custom-alert-info fade show message">Are you sure you want to archive this artifact?</div>
        <div class="confirm_buttons">
            <button id="confirm_button" class="confirm-button btn btn-accent" data-url="/requirements/archive/">Yes</button>
            <button id="cancel_button" class="cancel-button btn btn-secondary">Cancel</button>
        </div>
    </div>

{% endblock content%}
