{% extends "base.html" %}

{% load static %}
{% load tz %}

{% block title %}
  Tracequal - Design artifacts
{% endblock title %}

{% block links %}
    <script src="{% static 'js/design.js' %}"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'design.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock links %}

{% block content %}
    <div id="responsive-container" class="list-group container artifacts_container">
        <div class="tq-backbar">
            <div class="row align-items-center">
                <div class="col-1 tq-back"><a href="{% url 'project' project_id=project.id %}"><i class="fas fa-arrow-left fa-lg fa-inverse"></i></a></div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div>
                <img src="{% static 'icons/icon-design.png' %}" alt="Custom Icon" class="icon img-fit"/>
            </div>
            <div class="ml-3">
                <h1>Design</h1>
            </div>
        </div>
        {% if design_artifacts %}
            {% for design_artifact in design_artifacts %}
                <div class="list-group-item list-group-item-action artifact">
                    <small class="date">{{ design_artifact.date|date:"F j, Y h:i A" }}</small>
                    <i class="fas fa-trash"></i>
                    <i class="fas fa-edit"></i>
                    <div class="d-flex align-items-center">
                        <div class="number">{{ forloop.counter }}</div>
                        <div class="ml-3">{{ design_artifact.name }}</div>
                        <div class="icons">
                            <a href="#" class="diagram_button" data-rel="{{ design_artifact.diagram.url }}"><i class="fas fa-image"></i></a>
                            <a href="{{ design_artifact.document }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div id="floating-container-{{ design_artifact.id }}" class="floating-container responsive-image" style="display:none;">
                    <img src="{{ design_artifact.diagram.url }}" alt="diagram">
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                There are no design artifacts.
            </div>
        {% endif %}
        <div class="add"><i class="fas fa-plus"></i></div>
    </div>
    <div id="floating-container" class="floating-container responsive-image" style="display:none;"></div>

{% endblock content%}
