{% extends "base.html" %}

{% load static %}
{% load tz %}

{% block title %}
  Tracequal - Design artifacts {% if archive %}(archive){% endif %}
{% endblock title %}

{% block links %}
    <script src="{% static 'js/design.js' %}"></script>
    <script src="{% static 'js/archive_artifact.js' %}"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'design.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7ecb0d002.js" crossorigin="anonymous"></script>
{% endblock links %}

{% block content %}
    <div id="responsive-container" class="list-group container artifacts_container  {% if archive %}archive-page{% endif %}">
        {% csrf_token %}
        <div class="tq-backbar">
            <div class="row align-items-center">
                <div class="col-1 tq-back"><a href="{% if archive %}{% url 'design' %} {% else %}{% url 'project' %}{% endif %}"><i class="fas fa-arrow-left fa-lg fa-inverse"></i></a></div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div>
                <img src="{% static 'icons/icon-design.png' %}" alt="Custom Icon" class="icon img-fit"/>
            </div>
            <div class="ml-3">
                <h1>Design artifacts {% if archive %}(archive){% endif %}</h1>
            </div>
            {% if not archive and role == "admin" %}
                <a href="{% url 'archive_design' %}" class="archive-goto"><i class="fas fa-archive"></i></a>
            {% endif %}
        </div>
        {% if design_artifacts %}
            {% for design_artifact in design_artifacts %}
                <div id="artifact{{ design_artifact.id }}" class="list-group-item list-group-item-action artifact">
                    <small class="key">{{ prefix }}{{ design_artifact.key|stringformat:"02d" }}</small>
                    <small class="date">{{ design_artifact.date|date:"F j, Y h:i A" }}</small>
                    <div class="d-flex align-items-center">
                        <div class="number">{{ forloop.counter }}</div>
                        <div class="ml-3 strikable">{{ design_artifact.name }}</div>
                        <div class="icons">
                            <a href="#" class="diagram_button" data-rel="{{ design_artifact.diagram.url }}"><i class="fas fa-image"></i></a>
                            <a href="{{ design_artifact.document }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                            {% if design_artifact.archived %}
                                <a href="javascript:void(0)" class="archive" data-id="{{ design_artifact.id }}" data-archive="false"><i class="fas fa-upload"></i></a>
                            {% else %}
                                <a title="Traceability" href="{% url 'links' artifact_id=design_artifact.id %}"><i class="fa-solid fa-link"></i></a>
                                <a href="{% url 'edit_design' id=design_artifact.id %}"><i class="fas fa-edit"></i></a>
                                <a href="javascript:void(0)" class="archive" data-id="{{ design_artifact.id }}" data-archive="true"><i class="fas fa-trash"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="floating-container-{{ design_artifact.id }}" class="floating-container responsive-image" style="display:none;">
                    <img src="{{ design_artifact.diagram.url }}" alt="diagram">
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                There are no design artifacts.
            </div>
        {% endif %}
        {% if not archive %}
            <a href="{% url 'add_design' %}"><div class="add"><i class="fas fa-plus"></i></div></a>
        {% endif %}
    </div>
    <div id="floating-container" class="floating-container responsive-image" style="display:none;"></div>

    <div id="confirmation_dialog" class="confirmation-dialog custom-alert info">
        <div class="alert custom-alert-info fade show message">Are you sure you want to archive this artifact?</div>
        <div class="confirm_buttons">
            <button id="confirm_button" class="confirm-button btn btn-accent" data-url="/requirements/archive/">Yes</button>
            <button id="cancel_button" class="cancel-button btn btn-secondary">Cancel</button>
        </div>
    </div>

{% endblock content%}
