<div class="d-flex flex-column flex-sm-row align-items-center">
    <div id="graph-container" class="responsive-chart"></div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th colspan="2">Symbols</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fas fa-circle user_story"></i></td>
                    <td>User story</td>
                </tr>
                <tr>
                    <td><i class="fas fa-circle requirement"></i></td>
                    <td>Requirement</td>
                </tr>
                <tr>
                    <td><i class="fas fa-circle code"></i></td>
                    <td>Code</td>
                </tr>
                <tr>
                    <td><i class="fas fa-circle design"></i></td>
                    <td>Design</td>
                </tr>
                <tr>
                    <td><i class="fas fa-circle test"></i></td>
                    <td>Design</td>
                </tr>
                <tr>
                    <td><i class="fas fa-arrow-right evolution"></i></td>
                    <td>Evolution link</td>
                </tr>
                <tr>
                    <td><i class="fas fa-arrow-right dependency"></i></td>
                    <td>Dependency link</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>