{% extends "base.html" %}

{% load static %}

{% block title %}
  Tracequal
{% endblock title %}

{% block links %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock links %}

{% block searchbar %}
{% endblock %}

{% block content %}

    <div id="responsive-container" class="list-group container">
        {% for project, total, role in projects%}
            <div class="list-group-item list-group-item-action project">
                <a href="project/{{ project.id }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 accent">{{ project.name }}</h5>
                        <!--<small>3 days ago</small>-->
                    </div>
                    <p class="mb-1">{{ project.description }}</p>
                    <!--<small>&nbsp;</small>-->
                    <div class="progress tq-progress-category" role="progressbar" aria-valuenow="{{ total.total }}" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped" style="width: {{ total.total }}%; background-color: {{ total.color }}"></div>
                    </div>
                </a>
                {% if role == "admin" or role == "superadmin" %}
                    <div class="icons">
                        <a href="{% url 'manage_users' project_id=project.id %}"><i class="fas fa-user"></i></a>
                        <a href="{% url 'edit_project' id=project.id %}"><i class="fas fa-cog"></i></a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if not are_projects %}
            <h1>Hey! You haven't created your first project</h1>
            <p>You can create your first project by pressing the <strong>+</strong> button in the bottom left corner of the screen,
                or ask the owner of a project to add you to theirs.</p>
        {% endif %}

        <a href="{% url 'add_project' %}"><div class="add"><i class="fas fa-plus"></i></div></a>

    </div>

{% endblock content %}

{#{% block breadcrumb-items %}#}
{#    <li class="breadcrumb-item active">Home</li>#}
{#{% endblock %}#}