{% load filters %}
<div id="link{{ link.id }}" class="list-group-item list-group-item-action link-item">
    <small class="key {{ r_artifact.type }}">{{ r_artifact.type|replace_underscore|title }} {{ r_artifact.key }}</small>
    <small class="date">{{ link.date|date:"F j, Y h:i A" }}</small>
    <div class="d-flex align-items-center">
        <div class="number">{{ forloop.counter }}</div>
        <div class="ml-3 strikable name">{{ r_artifact.name }}</div>
        <div class="icons">
            {% if link.archived %}
                <a href="javascript:void(0)" class="archive" data-id="{{ link.id }}" data-archive="false" data-is_link="true"><i class="fas fa-upload"></i></a>
            {% else %}
                <a href="javascript:void(0)" class="archive" data-id="{{ link.id }}" data-archive="true" data-is_link="true"><i class="fas fa-trash"></i></a>
            {% endif %}
        </div>
    </div>
</div>
