{% load filters %}
<div id="link{{ link.id }}" class="list-group-item list-group-item-action link-item">
    <small class="key {{ r_artifact.type }}">{{ r_artifact.type|replace_underscore|title }} {{ r_artifact.key }}</small>
    <small class="date">{{ link.date|date:"F j, Y h:i A" }}</small>
    <div class="d-flex align-items-center">
        <div class="number">{{ forloop.counter }}</div>
        <div class="ml-3 strikable name">{{ r_artifact.name }}</div>
        <div class="icons">
            {% if code_artifact.document %}
                <a href="{{ code_artifact.document }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            {% endif %}
            {% if code_artifact.archived %}
                <a href="javascript:void(0)" class="archive" data-id="{{ code_artifact.id }}" data-archive="false"><i class="fas fa-upload"></i></a>
            {% else %}
                <a href="javascript:void(0)" class="archive" data-id="{{ code_artifact.id }}" data-archive="true"><i class="fas fa-trash"></i></a>
            {% endif %}
        </div>
    </div>
</div>
