{% extends "base.html" %}

{% load static %}
{% load tz %}

{% block title %}
  Tracequal - Requirements {% if archive %}(archive){% endif %}
{% endblock title %}

{% block links %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/archive_artifact.js' %}"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'requirements.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7ecb0d002.js" crossorigin="anonymous"></script>
{% endblock links %}

{% block content %}
    <div id="responsive-container" class="list-group container artifacts_container {% if archive %}archive-page{% endif %}">
        {% csrf_token %}
        <div class="tq-backbar">
            <div class="row align-items-center">
                <div class="col-1 tq-back"><a href="{% if archive %}{% url 'requirements' %} {% else %}{% url 'project' %}{% endif %}"><i class="fas fa-arrow-left fa-lg fa-inverse"></i></a></div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div>
                <img src="{% static 'icons/icon-requirements.png' %}" alt="Custom Icon" class="icon img-fit"/>
            </div>
            <div class="ml-3">
                <h1>Requirements {% if archive %}(archive){% endif %}</h1>
            </div>
            {% if not archive and role == "admin" or role == "superadmin" %}
                <a href="{% url 'archive_requirement' %}" class="archive-goto"><i class="fas fa-archive"></i></a>
            {% endif %}
        </div>
        {% if requirements %}
            {% for requirement in requirements %}
                <div id="artifact{{ requirement.id }}" class="list-group-item list-group-item-action artifact">
                    <small class="key">{{ prefix }}{{ requirement.key|stringformat:"02d" }}</small>
                    <small class="date">{{ requirement.date|date:"F j, Y h:i A" }}</small>
                    <div class="d-flex align-items-center">
                        <div class="number">{{ forloop.counter }}</div>
                        <div class="d-flex flex-column flex-grow-1 strikable" style="position: relative;">
                            <div class="d-flex flex-row align-items-center extra" data-id="{{ forloop.counter }}">
                                <h5>{{ requirement.name }}</h5>
                                &nbsp;<i id="chevron_{{ forloop.counter }}" class="fas fa-chevron-down"></i>
                            </div>
                            <table id="hidden_block_{{ forloop.counter }}" class="table table-bordered flex-grow-1 hidden_content">
                                <tbody>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ requirement.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Preconditions</th>
                                        <td>{{ requirement.precondition }}</td>
                                    </tr>
                                    <tr>
                                        <th>Sequence</th>
                                        <td>
                                            <table class="table table-sm table-borderless" style="margin: 0">
                                                <tbody>
                                                    {% for step in requirement.sequence %}
                                                        <tr>
                                                            <td><strong>{{ forloop.counter }}</strong>. {{ step }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Alternative sequences</th>
                                        <td>
                                            <table class="table table-sm table-borderless" style="margin: 0">
                                                <tbody>
                                                    {% for key, list in requirement.alt_sequence.items %}
                                                        <th>Alternative sequence {{ key }}</th>
                                                        {% for step in list %}
                                                            <tr>
                                                                <td><strong>{{ key }}.{{ forloop.counter }}</strong>. {{ step }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Postconditions</th>
                                        <td>{{ requirement.postcondition }}</td>
                                    </tr>
                                    <tr>
                                        <th>Notes</th>
                                        <td>{{ requirement.notes }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="icons">
                        {% if requirement.document %}
                            <a href="{{ requirement.document }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                        {% endif %}
                        {% if requirement.archived %}
                            <a href="javascript:void(0)" class="archive" data-id="{{ requirement.id }}" data-archive="false"><i class="fas fa-upload"></i></a>
                        {% else %}
                            <a title="Traceability" href="{% url 'links' artifact_id=requirement.id %}"><i class="fa-solid fa-link"></i></a>
                            <a href="{% url 'edit_requirement' id=requirement.id %}"><i class="fas fa-edit"></i></a>
                            <a href="javascript:void(0)" class="archive" data-id="{{ requirement.id }}" data-archive="true"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                There are no requirements.
            </div>
        {% endif %}
        {% if not archive %}
            <a href="{% url 'add_requirement' %}"><div class="add"><i class="fas fa-plus"></i></div></a>
        {% endif %}
    </div>

    <div id="confirmation_dialog" class="confirmation-dialog custom-alert info">
        <div class="alert custom-alert-info fade show message">Are you sure you want to archive this artifact?</div>
        <div class="confirm_buttons">
            <button id="confirm_button" class="confirm-button btn btn-accent" data-url="/requirements/archive/">Yes</button>
            <button id="cancel_button" class="cancel-button btn btn-secondary">Cancel</button>
        </div>
    </div>

{% endblock content%}
