{% extends "base.html" %}

{% load static %}
{% load filters %}

{% block title %}
  Tracequal - Search
{% endblock title %}

{% block links %}
    <script src="{% static 'js/alerts.js' %}"></script>
    <script src="{% static 'js/edit_artifact.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/archive_artifact.js' %}"></script>
    <script src="{% static 'js/design.js' %}"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'user_stories.css' %}" rel="stylesheet">
    <link href="{% static 'requirements.css' %}" rel="stylesheet">
    <link href="{% static 'tests.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7ecb0d002.js" crossorigin="anonymous"></script>
{% endblock links %}

{% block content %}

    <div id="responsive-container" class="list-group container artifacts_container">
        <div class="tq-backbar">
            <div class="row align-items-center">
                <div class="col-1 tq-back"><a href="{% url 'tests'%}"><i class="fas fa-arrow-left fa-lg fa-inverse"></i></a></div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div>
                <img src="{% static 'icons/icon-tests.png' %}" alt="Custom Icon" class="icon img-fit"/>
            </div>
            <div class="ml-3">
                <h1>Search results</h1>
            </div>
        </div>
        <div>
            {% for artifact in artifacts %}
                {% include 'artifacts/artifact.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}
