{% extends "base.html" %}

{% load static %}
{% load tz %}
{% load filters %}

{% block title %}
  Tracequal - Tests
{% endblock title %}

{% block links %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/tests.js' %}"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'tests.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock links %}

{% block content %}
    <div id="responsive-container" class="list-group container artifacts_container">
        <div class="tq-backbar">
            <div class="row align-items-center">
                <div class="col-1 tq-back"><a href="{% url 'project' %}"><i class="fas fa-arrow-left fa-lg fa-inverse"></i></a></div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div>
                <img src="{% static 'icons/icon-tests.png' %}" alt="Custom Icon" class="icon img-fit"/>
            </div>
            <div class="ml-3">
                <h1>Tests</h1>
            </div>
        </div>
        {% if tests %}
            {% for test in tests %}
                <div class="list-group-item list-group-item-action artifact" data-id="{{ forloop.counter }}">
                    <small class="key">{{ prefix }}{{ test.key|stringformat:"02d" }}</small>
                    <small class="date">{{ test.date|date:"F j, Y h:i A" }}</small>
                    <div class="d-flex align-items-center">
                        <div class="number">{{ forloop.counter }}</div>
                        <div class="d-flex flex-column" style="position: relative;">
                            <div class="d-flex flex-row align-items-center extra" data-id="{{ forloop.counter }}">
                                <h5>{{ test.name }}</h5>
                                &nbsp;<i id="chevron_{{ forloop.counter }}" class="fas fa-chevron-down"></i>
                            </div>
                            <div id="hidden_block_{{ forloop.counter }}" class="hidden_content">
                                <div><strong>Objective: </strong><span class="text">{{ test.objective }}</span></div>
                                <div><strong>Description: </strong><span class="text">{{ test.description }}</span></div>
                                <div><strong>Data: </strong><span class="text">{{ test.data }}</span></div>
                                <div><strong>Notes: </strong><span class="text">{{ test.notes }}</span></div>
                            </div>
                            <div class="d-flex flex-column div-boton" style="position: relative">
                            <div class="btn-group">
                                <button id="verdict_menu_{{ forloop.counter }}"
                                        class="btn btn-sm dropdown-toggle {% for class in classes|get_dictionary_item:test.verdict %} {{ class }}{% endfor %}"
                                        type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    {{ test.verdict|capfirst }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="button{{ forloop.counter }}">
                                    <li><a class="dropdown-item change_option" href="#" data-option="0" data-buttonid="{{ forloop.counter }}">Not tested</a></li>
                                    <li><a class="dropdown-item change_option" href="#" data-option="1" data-buttonid="{{ forloop.counter }}">Pass</a></li>
                                    <li><a class="dropdown-item change_option" href="#" data-option="2" data-buttonid="{{ forloop.counter }}">Inconclusive</a></li>
                                    <li><a class="dropdown-item change_option" href="#" data-option="3" data-buttonid="{{ forloop.counter }}">Fail</a></li>
                                </ul>
                            </div>
                            {% if test.application_date %}
                                &nbsp;
                                <small class="application-date">{{ test.application_date }}</small>
                            {% endif %}
                            </div>
                        </div>
                        <div class="icons">
                            {% if test.document %}
                                <a href="{{ test.document }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                            {% endif %}
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                There are no tests.
            </div>
        {% endif %}
        <a href="{% url 'add_test' %}"><div class="add"><i class="fas fa-plus"></i></div></a>
    </div>
{% endblock content%}
